.content {
  font-size: 2rem;
  padding: 50px 10px;
  max-width: 960px;
  margin: 0 auto;;
}
dt {
  font-weight: bold;
}
dd {
  margin-bottom:20px;
}

canvas {
  border: 1px solid silver;
  width: 100%;
}
div {
  margin-bottom:20px;
  & p {
    margin-bottom:10px;
  }
}
h2 {
//  font-size:clamp(1.2rem, -0.595rem + 7.66vw, 4rem);
  font-size:clamp(1.8rem, -6.057rem + 16.76vw, 4rem);
  font-weight:bold;
  margin-bottom:40px;
}

.sample {
  width: getSize(636, 750) + "vw";
}
.sample2 {
  width: getSize(1950) + "vw";
}
.sample3 {
  width: getSize(1950,750) + "vw";
}