img {
    width: 100%;
}
body {
    font-size: 1.6rem;
    line-height: 2.4rem;;
}
.sponly {
    display: block;
    @include media( pc ){
        display: none;
    }
}
/*ヘッダー*/
.h_ {
    &header {
        background:#fff;
        height: getSize(120)+'vw';
        width: 100%;
        font-size: 1.6rem;
        padding: 0 getSize(40)+'vw';
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        position:sticky;
        top:0;
        z-index: 10;
        box-shadow: 0px 3px 3px 0 rgba(100,100,100,0.1);
        @include media( pc ){
            height: 60px;
            padding: 0 20px;
        }
    }
    &logo {
        width: auto;
        margin-top: getSize(20)+'vw';
        @include media( pc ){
            margin-top: 10px;
        }
    }
    &logoImg {
        width: auto;
        height: getSize(80)+'vw';
        @include media( pc ){
            height: 40px;
        }
    }
    &menuBack{
        display: none;
    }
    &menuBox {
        display: none;
    }
    &spNavi {
        display: block;
        position: relative;
        height: getSize(120)+'vw';
        width: getSize(120)+'vw';
        background: $primary;
        right: getSize(-40)+'vw';
        @include media( pc ){
            display: none;
        }
    }
    &spBtn {
        height: getSize(120)+'vw';
        width: getSize(120)+'vw';
        position: absolute;
        right: 0;
        z-index: 20;
        background: none;
        & span {
            display: block;
            width: getSize(60)+'vw';
            height: getSize(8)+'vw';
            background: #fff;
            position: absolute;
            right: getSize(30)+'vw';
            transition: .5s ease;
            border-radius: 100vw;
        }
    }
    &bar1 {
        top: getSize(34)+'vw';
    }
    .open &bar1 {
        top: getSize(58)+'vw';
        transform: rotate(-45deg);
        background: #fff;
    }
    &bar2 {
        top: getSize(56)+'vw';
    }
    .open &bar2 {
        opacity: 0;
    }
    &bar3 {
        bottom: getSize(34)+'vw';
    }
    .open &bar3 {
        top: getSize(58)+'vw';
        transform: rotate(45deg);
        background: #fff;
    }
}
/*トップページ*/
.t_ {
    /*キービジュアル*/
    &kv {
        height: calc(100vh - 16vw);
        text-align: center;
        background: $primary-s;
        @include media( pc ){
            height: calc(100vh - 60px);
        }
    }
    &kvInner {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        height:100%;
    }
    &kv_copy {
        font-size: 3rem;
        line-height:3.6rem;
        width: 100%;
        @include media( pc ){
            font-size: 30px;
        }
    }
    &kv_read {
        font-size: 1.6rem;
        margin-top: getSize(200)+'vw';
        width: 100%;
        @include media( pc ){
            font-size: 16px;
            margin-top: 100px;
        }
    }
    /*リード*/
    &read{
        @include contentWidth;
        background: $blue;
        color: #fff;
        font-size: 1.6rem;
        @include media( pc ){
            padding: 80px 0;
            font-size: 16px;
        }
    }
    &readInner {
        width: 100%;
        @include media( pc ){
            max-width: 1100px;
            margin: 0 auto;
            display: flex;
        }
    }
    &read_textBox{
        text-align: right;
        margin-bottom: 10vw;
        @include media( pc ){
            width: 50%;
            padding-right: 50px;
            margin-bottom: 10px;
        }
        & p {
            text-align: left;
            margin-bottom: 5vw;
            @include media( pc ){
                margin-bottom: 20px;
            }
        }
        & a {
            color: #fff;
            position: relative;
            display: inline-block;
            padding-right: 5vw;
            text-decoration: underline;
            @include media( pc ){
                padding-right: 15px;
            }
            &::after {
                position: absolute;
                content: '';
                border-top: solid 2px #fff;
                border-right: solid 2px #fff;
                width: getSize(16)+'vw';
                height: getSize(16)+'vw';
                transform: rotate(45deg);
                top: 30%;
                @include media( pc ){
                    width: 10px;
                    height: 10px;
                    right: 0;
                }
            }
        }
    }
    &read_imgBox{
        border-radius: 3vw;
        overflow: hidden;
        @include media( pc ){
            width: 50%;
        }
    }
    /*サービス*/
    &service {
        @include contentWidth;
    }
    &service_titleBox {
        margin-bottom: 10vw;
    }
    &service_subTitle {
        font-size: 1.4rem;
        line-height: 1.4rem;
        font-weight: bold;
        color: $primary;
        letter-spacing: 0.5rem;
        position: relative;
        display: inline-block;
        &::after {
            position: absolute;
            display: block;
            content: '';
            top:calc((100% - 1px) / 2);
            right: -90px;
            width: 80px;
            height: 1px;
            background:#ccc;
        }
    }
    &service_title {
        font-size: 2.6rem;
        font-weight: bold;
        margin-top: 6vw;
    }
    &service_iconList {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 10vw;
        & li:last-child, & li:nth-last-child(2) {
            margin-bottom:0;
        }
    }
    &service_icon {
        width: 43.2vw;
        height: 43.2vw;
        border: solid 1px #ccc;
        border-radius: 2vw;
        display: block;
        margin-bottom:3.6vw;
        text-align: center;
        background: url(../images/icon.png) center 20% no-repeat;
        background-size: 70%;
        padding-top:34.56vw;
    }
    &service_btn {
        @include greenBtn(80vw);
    }
    /*事例*/
    &case {
        @include contentWidth;
    }
    &case_titleBox {
        margin-bottom: 10vw;
        text-align: right;
    }
    &case_subTitle {
        font-size: 1.4rem;
        line-height: 1.4rem;
        font-weight: bold;
        color: $primary;
        letter-spacing: 0.5rem;
        position: relative;
        display: inline-block;
        &::after {
            position: absolute;
            display: block;
            content: '';
            top:calc((100% - 1px) / 2);
            left: -90px;
            width: 80px;
            height: 1px;
            background:#ccc;
        }
    }
    &case_title {
        font-size: 2.6rem;
        font-weight: bold;
        margin-top: 6vw;
    }
    &case_articleList {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 10vw;
    }
    &case_article {
        width: 100vw;
        display: block;
        margin-bottom:8vw;
    }
    &case_articleImage {
        border-radius: 2vw;
        overflow: hidden;
        margin-bottom: 4vw;
    }
    &case_articleSub {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 2vw;
    }
    &case_articleSubTitle {
        color: $primary;
        font-weight: bold;
        width: 72%;
        margin-right: 1%;
    }
    &case_articleDate {
        width: 27%;
        text-align: right;
        color:$glay;
    }
    &case_articleTitle {
        color:$dark;
        font-weight: bold;
        margin-bottom: 2vw;
    }
    &case_articleTag {
        background: $primary;
        padding: 2vw 5vw;
        color: #fff;
        font-size: 1.4rem;
        line-height: 1rem;
    }
    &case_btn {
        @include greenBtn(80vw);
    }
    /*サポート*/
    &support {
        @include contentWidth;
    }
    &support_titleBox {
        margin-bottom: 10vw;
    }
    &support_subTitle {
        font-size: 1.4rem;
        line-height: 1.4rem;
        font-weight: bold;
        color: $primary;
        letter-spacing: 0.5rem;
        position: relative;
        display: inline-block;
        &::after {
            position: absolute;
            display: block;
            content: '';
            top:calc((100% - 1px) / 2);
            right: -90px;
            width: 80px;
            height: 1px;
            background:#ccc;
        }
    }
    &service_title {
        font-size: 2.6rem;
        font-weight: bold;
        margin-top: 6vw;
    }
    &support_contentBox {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: column-reverse;
    }
    &support_contentText {
        width: 100%;
    }
    &support_contentImage {
        width: 100%;
        margin-bottom: 5vw;
    }
    /*サステナビリティ*/
    &sustainable {
        @include contentWidth;
    }
    &sustainable_titleBox {
        margin-bottom: 10vw;
        text-align: right;
    }
    &sustainable_subTitle {
        font-size: 1.4rem;
        line-height: 1.4rem;
        font-weight: bold;
        color: $primary;
        letter-spacing: 0.5rem;
        position: relative;
        display: inline-block;
        &::after {
            position: absolute;
            display: block;
            content: '';
            top:calc((100% - 1px) / 2);
            left: -90px;
            width: 80px;
            height: 1px;
            background:#ccc;
        }
    }
    &sustainable_title {
        font-size: 2.6rem;
        font-weight: bold;
        margin-top: 6vw;
    }
    &sustainable_content {
        width:100vw;
        margin-left:-5vw;
        padding: 10vw 5vw;
        background: $primary-s;
    }
    &sustainable_contentTitle {
        font-size:1.8rem;
        font-weight: bold;
        color: $primary;
        text-align: center;
        margin-bottom: 5vw;
    }
    &sustainable_contentText {
        margin-bottom: 5vw;
    }
    &sustainable_btn {
        @include greenBtn(80vw);
    }

    /*ニュース*/
    &news {
        @include contentWidth;
    }
    &news_titleBox {
        margin-bottom: 10vw;
    }
    &news_subTitle {
        font-size: 1.4rem;
        line-height: 1.4rem;
        font-weight: bold;
        color: $primary;
        letter-spacing: 0.5rem;
        position: relative;
        display: inline-block;
        &::after {
            position: absolute;
            display: block;
            content: '';
            top:calc((100% - 1px) / 2);
            right: -90px;
            width: 80px;
            height: 1px;
            background:#ccc;
        }
    }
    &news_title {
        font-size: 2.6rem;
        font-weight: bold;
        margin-top: 6vw;
    }
    &news_box {
        padding: 0 0 10vw 0;
    }
    &news_catListBox {
        overflow-x: scroll;
        border-bottom:solid 1px $glay-l;
    }
    &news_catList {
        display: flex;
        width: auto;
        flex-wrap: wrap;
    }
    &news_cat {
        font-weight: bold;
        padding: 2vw 5vw;
        &.active, &.hover {
            color: $primary;
            border-bottom:solid 2px $primary;
        }
    }
    &news_article {
        padding: 5vw 0;
        border-bottom:solid 1px $glay-l;
    }
    &news_articleDate {
        display: inline-block;
        margin-right: 5vw;
        color: $glay;
        font-size: 1.4rem;
        line-height: 1;
        padding:1vw 0;
    }
    &news_articleCat {
        display: inline-block;
        background: $glay-ll;
        color: $glay;
        font-size: 1.4rem;
        line-height: 1;
        padding:1vw 2vw;
    }
    &news_articleTitle {
        display: block;
        margin-top: 3vw;
    }
    &news_btn {
        @include greenBtn(80vw);
    }
}
/*フッター*/
footer{
    background: $glay-d;
}
.f_ {
    &contact {
        width: 100%;
        padding: 10vw 0;
    }
    &contact_btn {
        text-align: center;
        width: 80vw;
        margin: 0 auto;
        background: #fff;
        display: block;
        height: getSize(160)+'vw';
        line-height: getSize(160)+'vw';
        color: $primary;
        border-radius: 1.5vw;
        position: relative;
    }
    &totop {
        height: getSize(140)+'vw';
        text-align: center;
        background-color: #e0e0e0;
        & img {
            width: auto;
            height: getSize(140)+'vw';
        }
    }
    &contents {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: column-reverse;
        background: $glay-d;
        padding: 0 5vw;
        @include media( pc ){
            flex-direction: column;
            width: 1200px;
            margin: 0 auto;
            padding: 0;
        }
    }
    &contents_box{
        color: #fff;
        @include media( pc ){
            width: 40%;
            margin: 0;
        }
    }
    &contents_logo {
        margin-bottom: 5vw;
        & img {
            width: auto;
            height: getSize(80)+'vw';
            @include media( pc ){
                height: 40px;
            }
        }
    }
    &contents_address {
        margin-bottom: 1vw;
    }
    &contents_tel {
        margin-bottom: 1vw;
    }
    &contents_fax {
        margin-bottom: 8vw;
    }
    &contents_iconList {
        display: flex;
        flex-wrap: wrap;
    }
    &contents_icon {
        margin-right: 8vw;
        &:last-child {
            margin-right: 0;
        }
        & img {
            width: getSize(95)+'vw';
        }
    }
    &contents_navi {
        margin: 0 0 5vw 0;
        & a {
            color: #fff;
            display: block;
        }
        @include media( pc ){
            margin-left: 0;
            width: 60%;
        }
    }
    &menu {
        margin-left: -5vw;
        width: 100vw;
        @include media( pc ){
            margin-left: 0;
            width: 100%;
        }
    }
    &menu_list {
        padding: 0 5vw;
        border-bottom:solid 1px $glay-ll;
        line-height: getSize(100)+'vw';
        @include media( pc ){
            padding: 0 10px;
            border-bottom:none;
            line-height: 1.4rem;
        }
    }
    &submenu {
        display: none;
        @include media( pc ){
            display: block;
        }
    }
    &subnavi {
        padding: 10vw 5vw;
        @include media( pc ){
            padding: 0;
            width: 1200px;
            margin: 0 auto 80px auto;
        }
    }
    &subnavi_menuList {
        display: flex;
        flex-wrap: wrap;
        font-size: 1.4rem;
        & a {
            color: #fff;
            border-right:solid 1px $glay-ll;
            padding-right: 5vw;
            @include media( pc ){
                padding-right: 15px;
                font-size: 1.2rem;
            }
        }
    }
    &subnavi_menu {
        padding: 0 5vw 0 0;
        @include media( pc ){
            padding: 0 15px 0 0;
        }
        &:last-child {
            padding-right: 0;
            & a {
                padding-right: 0;
                border-right: none;
            }
        }
    }
    &copy {
        text-align: center;
        height: getSize(80)+'vw';
        line-height: getSize(80)+'vw';
        font-size: 1.4rem;
        background: #fff;
        @include media( pc ){
            height: 82px;
            line-height: 82px;
            font-size: 1.2rem;
        }
    }
}