<footer>
    <div>
        <a href="">お問い合わせ</a>
    </div>
    <div>
        <a href=""><img src="/assets/images/totop.png" alt="ページトップへ戻る"></a>
    </div>
    <div>
        <div>
            <p><a href=""><img src="/assets/images/logo.png" alt="ロゴ"></a></p>
            <p>東京都新宿区西新宿2-8-1</p>
            <p>TEL：00-1234-5678</p>
            <p>FAX：00-1234-5679</p>
            <ul>
                <li><a href=""><img src="/assets/images/icon.png"></a></li>
                <li><a href=""><img src="/assets/images/icon.png"></a></li>
                <li><a href=""><img src="/assets/images/icon.png"></a></li>
                <li><a href=""><img src="/assets/images/icon.png"></a></li>
            </ul>
        </div>
        <nav>
            <ul class="h-menu">
                <li><a href="">メニューA</a></li>
                <li><a href="">メニューB</a></li>
                <li><a href="">メニューC</a>
                    <div class="h-submenu">
                        <ul>
                            <li><a href="">サブメニューA</a></li>
                            <li><a href="">サブメニューB</a></li>
                            <li><a href="">サブメニューC</a></li>
                            <li><a href="">サブメニューD</a></li>
                            <li><a href="">サブメニューE</a></li>
                        </ul>
                    </div></li>
                <li><a href="">メニューD</a>
                    <div class="h-submenu">
                        <ul>
                            <li><a href="">サブメニューA</a></li>
                            <li><a href="">サブメニューB</a></li>
                            <li><a href="">サブメニューC</a></li>
                            <li><a href="">サブメニューD</a></li>
                            <li><a href="">サブメニューE</a></li>
                        </ul>
                    </div></li>
                <li><a href="">メニューE</a></li>
                <li><a href="">メニューF</a></li>
            </ul>
        </nav>
    </div>


    <nav>
        <ul class="h-menu">
            <li><a href="">フッターサブメニューA</a></li>
            <li><a href="">フッターサブメニューB</a></li>
            <li><a href="">フッターサブメニューC</a></li>
            <li><a href="">フッターサブメニューD</a></li>
            <li><a href="">フッターサブメニューE</a></li>
        </ul>
    </nav>
    <div>&copy; YYYY XXXXXXXXX</div>
</footer>

<script src="<%= data.current %>assets/js/app3.js?<%= DATE %>"></script>