<footer>
    <div class="f_contact">
        <a href="" class="f_contact_btn">お問い合わせ</a>
    </div>
    <div class="f_totop">
        <a href=""><img src="/assets/images/totop.png" alt="ページトップへ戻る"></a>
    </div>
    <div class="f_contents">
        <div class="f_contents_box">
            <p class="f_contents_logo"><a href=""><img src="/assets/images/logo.png" alt="ロゴ"></a></p>
            <p class="f_contents_address">東京都新宿区西新宿2-8-1</p>
            <p class="f_contents_tel">TEL：00-1234-5678</p>
            <p class="f_contents_fax">FAX：00-1234-5679</p>
            <ul class="f_contents_iconList">
                <li class="f_contents_icon"><a href=""><img src="/assets/images/icon.png"></a></li>
                <li class="f_contents_icon"><a href=""><img src="/assets/images/icon.png"></a></li>
                <li class="f_contents_icon"><a href=""><img src="/assets/images/icon.png"></a></li>
                <li class="f_contents_icon"><a href=""><img src="/assets/images/icon.png"></a></li>
            </ul>
        </div>
        <nav class="f_contents_navi">
            <ul class="f_menu">
                <li class="f_menu_list"><a href="">メニューA</a></li>
                <li class="f_menu_list"><a href="">メニューB</a></li>
                <li class="f_menu_list"><a href="">メニューC</a>
                    <div class="f_submenu">
                        <ul>
                            <li class="f_menu_sublist"><a href="">サブメニューA</a></li>
                            <li class="f_menu_sublist"><a href="">サブメニューB</a></li>
                            <li class="f_menu_sublist"><a href="">サブメニューC</a></li>
                            <li class="f_menu_sublist"><a href="">サブメニューD</a></li>
                            <li class="f_menu_sublist"><a href="">サブメニューE</a></li>
                        </ul>
                    </div></li>
                <li class="f_menu_list"><a href="">メニューD</a>
                    <div class="f_submenu">
                        <ul>
                            <li class="f_menu_sublist"><a href="">サブメニューA</a></li>
                            <li class="f_menu_sublist"><a href="">サブメニューB</a></li>
                            <li class="f_menu_sublist"><a href="">サブメニューC</a></li>
                            <li class="f_menu_sublist"><a href="">サブメニューD</a></li>
                            <li class="f_menu_sublist"><a href="">サブメニューE</a></li>
                        </ul>
                    </div></li>
                <li class="f_menu_list"><a href="">メニューE</a></li>
                <li class="f_menu_list"><a href="">メニューF</a></li>
            </ul>
        </nav>
    </div>


    <nav class="f_subnavi">
        <ul class="f_subnavi_menuList">
            <li class="f_subnavi_menu"><a href="">フッターサブA</a></li>
            <li class="f_subnavi_menu"><a href="">フッターサブB</a></li>
            <li class="f_subnavi_menu"><a href="">フッターサブC</a></li>
            <li class="f_subnavi_menu"><a href="">フッターサブD</a></li>
            <li class="f_subnavi_menu"><a href="">フッターサブE</a></li>
        </ul>
    </nav>
    <div class="f_copy">&copy; YYYY XXXXXXXXX</div>
</footer>

<script src="<%= data.current %>assets/js/app3.js?<%= DATE %>"></script>