<header class="h_header">
    <div class="h_logo">
    <% if(data.name == 'top'){ %>
        <h1><a href=""><img src="/assets/images/logo.png" alt="ロゴ" class="h_logoImg"></a></h1>
    <% } else { %>
        <p><a href=""><img src="/assets/images/logo.png" alt="ロゴ" class="h_logoImg"></a></p>
    <% } %>
    </div>
    <div class="h_menuBack"></div>
    <div class="h_menuBox">
        <nav>
            <ul class="h_menu">
                <li class="h_menu_item"><a href="">メニューA</a></li>
                <li class="h_menu_item"><a href="">メニューB</a></li>
                <li class="h_menu_item"><a href="">メニューC</a>
                    <div class="h_submenu">
                        <ul>
                            <li class="h_submenu_item"><a href="">サブメニューA</a></li>
                            <li class="h_submenu_item"><a href="">サブメニューB</a></li>
                            <li class="h_submenu_item"><a href="">サブメニューC</a></li>
                            <li class="h_submenu_item"><a href="">サブメニューD</a></li>
                            <li class="h_submenu_item"><a href="">サブメニューE</a></li>
                        </ul>
                    </div></li>
                <li class="h_menu_item"><a href="">メニューD</a>
                    <div class="h_submenu">
                        <ul>
                            <li class="h_submenu_item"><a href="">サブメニューA</a></li>
                            <li class="h_submenu_item"><a href="">サブメニューB</a></li>
                            <li class="h_submenu_item"><a href="">サブメニューC</a></li>
                            <li class="h_submenu_item"><a href="">サブメニューD</a></li>
                            <li class="h_submenu_item"><a href="">サブメニューE</a></li>
                        </ul>
                    </div></li>
                <li class="h_menu_item"><a href="">メニューE</a></li>
                <li class="h_menu_item"><a href="">メニューF</a></li>
            </ul>
        </nav>
        <div class="h_subArea">
            <form class="h_search">
                <input type="text" class="h_search_text">
                <input type="submit" class="h_search_btn">
            </form>
            <div class="h_subBtn">
                <a href="" class="h_shop">ショップ</a>
                <a href="" class="h_contact">お問い合わせ</a>
            </div>
        </div>
    </div>
    <div class="h_spNavi">
        <button class="h_spBtn">
            <span class="h_bar1"></span>
            <span class="h_bar2"></span>
            <span class="h_bar3"></span>
        </button>
    </div>
</header>