/*
 +	共通で使うmixinはここにまとめる
 */

@mixin clearfix{
  &:after{
    display: table;
    content: "";
    clear: both;
  }
}
@mixin after {
	content: "";
  display: block;
}
@mixin font-size( $s ) {
 font-size:$s * 10 + px;
 font-size:$s + rem;
}
@mixin textJustify {
	text-align: justify;
	text-justify: inter-ideograph;
}
@function getSize( $size , $width: 750 ) {
  @return #{ $size / $width * 100 };
}
@mixin none-appearance {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  background: none transparent;
  background-clip: padding-box;
  color: inherit;
  font-size: inherit;
  vertical-align: middle;
  box-sizing: border-box;
  &::-ms-clear {
      display: none;
  }
  &::-ms-reveal {
      display: none;
  }
  &::-ms-expand {
      display: none;
  }
}

@function calcvw($num, $width: 375px) {
  @return (1vw * $num / $width * 100);
}

@function ls($tracking) {
  @return ($tracking / 1000) + em;
}

@function lh($tracking,$fontsize) {
  @return ($tracking / $fontsize);
}

@mixin triangle($color: #000, $width: 10px, $height: 10px, $dir: top) {
  width: 0;
  height: 0;
  @if $dir == 'top' {
      border-width: 0 #{$width/2} #{$height} #{$width/2};
      border-color: transparent transparent $color transparent;
  } @else if $dir == 'bottom' {
      border-width: #{$height} #{$width/2} 0 #{$width/2};
      border-color: $color transparent transparent transparent;
  } @else if $dir == 'right' {
      border-width: #{$height/2} 0 #{$height/2} #{$width};
      border-color: transparent transparent transparent $color;
  } @else {
      border-width: #{$height/2} #{$width} #{$height/2} 0;
      border-color: transparent $color transparent transparent;
  }
  border-style: solid;
}
@mixin contentWidth {
  width: 100%;
  padding: 10vw 5vw;
}
@mixin titleLeft {
}
@mixin subtitleLeft {
}
@mixin titleRight {
}
@mixin subtitleRight {
}

@mixin greenBtn($btWidht: 80vw) {
  text-align: center;
        width: $btWidht;
        margin: 0 auto;
        background: linear-gradient(to right, #aadd00 0%,#44aa00 100%);
        display: block;
        height: getSize(120)+'vw';
        line-height: getSize(120)+'vw';
        color: #fff;
        border-radius: 1.5vw;
        position: relative;
        @include media( pc ){
            width: 500px;
            height: 80px;
            line-height: 80px;
            border-radius: 10px;
        }
        &::after {
            position: absolute;
            content: '';
            border-top: solid 2px #fff;
            border-right: solid 2px #fff;
            width: getSize(16)+'vw';
            height: getSize(16)+'vw';
            transform: rotate(45deg);
            top: 42%;
            @include media( pc ){
                width: 10px;
                height: 10px;
            }
        }
}

@mixin greenBtnS($btWidht: 80vw) {
  text-align: center;
        width: $btWidht;
        margin: 0 auto;
        background: linear-gradient(to right, #aadd00 0%,#44aa00 100%);
        display: block;
        height: getSize(120)+'vw';
        line-height: getSize(120)+'vw';
        color: #fff;
        border-radius: 1.5vw;
        position: relative;
        @include media( pc ){
          width: 140px;
          height: 40px;
          line-height: 40px;
          border-radius: 10px;
        }
        &::after {
            position: absolute;
            content: '';
            border-top: solid 2px #fff;
            border-right: solid 2px #fff;
            width: getSize(16)+'vw';
            height: getSize(16)+'vw';
            transform: rotate(45deg);
            top: 42%;
            @include media( pc ){
              display: none;
            }
        }
}


@mixin yellowBtnS($btWidht: 80vw) {
  text-align: center;
        width: $btWidht;
        margin: 0 auto;
        display: block;
        height: getSize(120)+'vw';
        line-height: getSize(120)+'vw';
        color: #fff;
        border-radius: 1.5vw;
        position: relative;
        @include media( pc ){
            background: rgb(255, 255, 34);
            width: 100px;
            height: 40px;
            line-height: 40px;
            border-radius: 10px;
            color: #000;
        }
        &::after {
            position: absolute;
            content: '';
            border-top: solid 2px #fff;
            border-right: solid 2px #fff;
            width: getSize(16)+'vw';
            height: getSize(16)+'vw';
            transform: rotate(45deg);
            top: 42%;
            @include media( pc ){
              display: none;
            }
        }
}